@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://db.onlinewebfonts.com/c/0c5e6f133b0b25edfed47aca4ab57676?family=Segoe+UI+Historic');

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 10;
    height: 54px;
    line-height: 54px;
    top: 0;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: none;
}

.nav-wrapper li a {
    color: #000;
}

.brand-logo {
    font-family: 'Grand Hotel', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: lighter;
    padding: 0;
    color: #000 !important;
}

.gach-ngang {
    border-bottom: 2px solid #000;
    width: 30%;
    margin: 10% auto;
}

::placeholder {
    font-weight: 500;
    opacity: 1;
}

.container-ig {
    max-width: 935px;
    padding: 0;
    margin: auto;
}

.mt-54 {
    margin-top: 54px;
}

.none-even {
    pointer-events: none;
}

h6 {
    margin: 0;
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
}