@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body {
    background-color: rgb(241, 243, 247);
}

.nav-wrapper a {
    color: #000;
}

.brand-logo {
    font-family: 'Grand Hotel', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: lighter;
    padding: 0;
}

.gach-ngang {
    border: 1px solid #000;
    width: 40%;
    margin: 10% auto;
}

::placeholder {
    font-weight: 500;
    opacity: 0.5;
}

.container-ig {
    max-width: 935px;
    padding: 0;
    margin: auto;
}