.create-post {
    padding: 50px 30px;
    margin: 28% auto 0;
    width: 600px;
    box-shadow: 0 0 5px 3px rgba(200, 200, 200, 1);
}

.create-post .create-input {
    padding: 4px 10px;
    margin-bottom: 30px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999999;
}