.input-filed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    padding: 30px;
    text-align: center;
}

.file-field {
    margin: 30px 0;
}

.file-field .btn {
    height: 35px;
    line-height: 35px;
}

.file-field .file-path {
    height: 35px;
    margin-bottom: 0;
}