.card-login {
    padding: 30px;
    margin: 28% auto 0;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 5px 3px rgba(200, 200, 200, 1);
}

.card-login input {
    padding: 4px 10px;
    margin-top: 30px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999999;
}

.card-login input:focus {
    border-bottom:1px solid#11a8ff;
    box-shadow: 0 1px 0 0 #11a8ff;
    outline: none;
}

.btn-login {
    width: 70%;
    margin: 40px auto 0;
    color: white;
    font-size: 100%;
    font-weight: 600;
    background-color: #48aee9;
    transition: all ease 0.5s;
}

.btn-login:hover {
    background-color: #11a8ff;
    color: white;
}