.khung-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.khung-avatar:hover span {
    opacity: 1;
}

.khung-avatar .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.khung-avatar span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: rgba(56, 56, 56, 0.3);
    opacity: 0;
    transition: all 0.5s;
}

.khung-avatar .fa-camera {
    font-size: 30px;
    color: #eee;
}

.thong-tin h4 {
    margin: 15px 0;
}

.thong-tin .follow-container {
    display: flex;
    align-items: center;
}

.thong-tin .btnFollow {
    margin-left: 10%;
    padding: 4px 20px;
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    color: #eee;
}

.thong-tin .btnFollow:hover {
    box-shadow: 0 0 5px 3px rgb(221, 214, 214);
    cursor: pointer;
}

.thong-tin .btn-follow {
    background-color: rgb(47, 174, 224);
}

.thong-tin .btn-unfollow {
    background-color: rgb(211, 63, 88);
}

.thong-tin .so-luong {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.so-luong h6 {
    margin-right: 20px;
}

.so-luong h6:last-child {
    margin-right: 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery .item {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 0 5px 3px rgb(212, 212, 212),
                0 0 10px 3px rgba(214, 211, 211, 0.7);
}

.gallery .col {
    height: 100%;
    max-height: 360px;
    margin-bottom: 20px;
}