.khung-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.khung-avatar:hover span {
    opacity: 1;
}

.khung-avatar .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.khung-avatar span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: rgba(56, 56, 56, 0.3);
    opacity: 0;
    transition: all 0.5s;
}

.khung-avatar .fa-camera {
    font-size: 30px;
    color: #eee;
}

.thong-tin .so-luong {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.so-luong h6 {
    margin-right: 20px;
}

.so-luong h6:last-child {
    margin-right: 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery .item {
    width: 30%;
    margin-bottom: 20px;
    object-fit: cover;
}