.card-signup {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px rgba(200, 200, 200, 1);
}

.card-signup input {
    padding: 0 10px !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.input-name {
    border-right: none;
}

.input-name:focus {
    border-right: none;
}

.btn-signup {
    width: 60%;
    margin: 40px auto 0;
    color: white;
    font-size: 100%;
    font-weight: 600;
}